body {
	background-image: url("amoras.jpg");
}

h1 {
	font-family: 'Monoton', sans-serif;
	background: black;
	border: 1px solid white;
}

.glow {
	font-size: 80px;
	color: #b5009d;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #b5009d, 0 0 20px #b5009d, 0 0 30px #6e6eff, 0 0 40px #6e6eff, 0 0 50px #6e6eff, 0 0 60px #6e6eff, 0 0 70px #6e6eff;
	}
	to {
		text-shadow: 0 0 20px #b5009d, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

img	{
	width: 500px;
	height: 500px;
}

img.portrait {
	width: 100px;
	height: 100px;
}

div.row {
	margin: 15px 5px;
}

div.row > div.col {
	margin: 0 -10px !important;
}

div.cotainer {
	align-content: center;
}

svg {
	fill: red;
}